<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

        <body>



            <div class="root">

                <%- include('./partials/nav.ejs') %>


                    <div class="about_wrapper">
                        <div class="about_header">
                            <h1>About Me</h1>
                        </div>
                        
                        <div class="about_content">
                            Ut ut ea laboris eiusmod dolor dolor enim irure Lorem. Occaecat quis eu aliquip Lorem est
                            veniam mollit
                            velit ea consectetur anim do. Proident aliquip velit quis ut et cupidatat ea consectetur ad
                            magna minim.
                            Voluptate adipisicing quis cillum culpa veniam adipisicing amet id. Sit proident adipisicing
                            officia ut.

                            Quis velit et ad quis elit non laboris. Fugiat nostrud adipisicing ullamco id elit ea anim
                            veniam cillum
                            reprehenderit. Elit tempor ut in culpa adipisicing et ea ullamco. Consequat ipsum ea mollit
                            voluptate
                            exercitation ex irure fugiat amet et duis.

                            Minim commodo minim elit nisi voluptate. Dolor sint voluptate nulla tempor. Amet consequat
                            pariatur in
                            eiusmod cillum. Laborum officia dolor nostrud reprehenderit sint sit eiusmod consequat
                            officia est ad ut
                            nulla. Ea pariatur sint tempor occaecat veniam commodo amet anim. Dolor nulla ipsum proident
                            in. Do
                            officia ad sit laborum consectetur officia id.

                            Anim voluptate esse veniam laborum fugiat irure eu officia aliquip eiusmod commodo nulla.
                            Tempor est
                            tempor exercitation fugiat est. Occaecat consectetur quis labore Lorem Lorem labore officia
                            laborum
                            nostrud nostrud duis cupidatat ipsum.
                        </div>
                    </div>

            </div>
        </body>

</html>